<%= link_to paper do %>
  <div class="row result-card">
    <div class="col-md-3">
      <h3><%= paper.title %></h3>
    </div>
    <div class="col-md-5">
      <p>
        <%= truncate paper.description %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        Views: <%= paper.view_count %> Attachments: <%= paper.attachments.count %>
      </p>
    </div>
  </div>
<% end %>
