<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1>About</h1>
    <h4>
      What if there was a nice way to share, find and get access to data and research
      wasting away on people's hard drives?
    </h4>

    <p>
      The first 30% of this site was built at a Dark Souls LAN when David told Chris
      "Hey, I've got this idea for a site."
      Unused research needs a home. Datasets hidden away on hard drives need a chance.
      Adopt some underappreciated research today.
    </p>

    <p>
      We want to give everyone a way to easily search for and retrieve research
      articles and their associated datasets so that way you can use them to answer new questions.
    </p>

    <p>
      The Rumspringa Research (working title) app you see before you is a proof-of-concept,
      bare-bones functionality implementation of how this might work, built in ~8  hours
      during the remainder of the weekend following the LAN.
    </p>

    <p>
      Also, in case you were wondering: <%= link_to "What is Rumspringa?", "http://www.wndu.com/home/headlines/For-Amish-teens-Rumspringa-is-a-chance-to-see-the-outside-world-319046461.html", target: "_blank" %>
    </p>

  <h3>Idea's we've had:</h3>
  <ul>
    <li>adding in categories (tags)</li>
    <li>search by author, tag, vintage, etc (way more advanced searching)</li>
    <li>flagging/automatically making papers private (so authors can control where their papers go)</li>
    <li>bunch of other stuff. if you have any ideas, shoot us an email!</li>
  </ul>
  </div>
</div>

<div class="row">
  <h2 class="text-center">Authors</h2>
  <div class="col-md-3">
    <h3>Bio</h3>
    <p>
      David Iffrig is a Masters of Public Health candidate at Washington
      University in St. Louis (2017), with a focus in Epidemiology and Biostatistics.
      He loves Lord of the Rings, hiking, and--in his downtime--disseminating
      scientific information and making data more accessible.
    </p>
  </div>
  <div class="col-md-3">
    David Iffrig
    <br>
    <%= image_tag "david.jpg", size: "240x285" %>
  </div>
  <div class="col-md-3">
    Chris Zempel
    <br>
    <%= image_tag "chris.jpg", size: "240x285" %>
  </div>
  <div class="col-md-3">
    <h3>Bio</h3>
    <p>
      I'm a Rails developer out of St. Louis. I run the local <%= link_to "Rails Meetup", "www.archrails.com" %>
      as an open-source experiment, and I love helping people turn their ideas into good software.
    </p>
    <p>
      <%= link_to "More info here", "http://chriszempel.com/about/" %>, or hit me up at: chris.m.zempel@gmail.com
    </p>
  </div>
</div>
