<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand">Rumspringa Research</a>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Search", "/search" %>
            </li>
            <li>
              <%= link_to "My Papers", "/" %>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <%= fa_icon "cog", text: "Account" %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, data: { method: :delete} do %>
                  <%= fa_icon "sign-out", text: "Sign Out" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to new_user_session_path do %>
                  <%= fa_icon "sign-in", text: "Log In" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
