<div class="nested-fields">
  <div class="panel col-xs-6">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "What is this?", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", placeholder: "Brief description of the file (optional)" %>
    </div>
    <div class="form-group">
      <%= f.label :file %>
      <%= f.file_field :file, class: "form-control" %>
      <%= f.hidden_field :file_cache %>
    </div>
    <div class="form-group">
    </div>
    <%= link_to_remove_association "remove attachment", f, class: "btn btn-danger" %>
  </div>
</div>
