<% if @paper.errors.any? %>
  <ul>
    <% @paper.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
  <% end %>

  <%= form_for @paper do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "ex: Periodic Jokes about Chemistry", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "What's your research about? (Feel free to add words that help with searching at the end)", class: "form-control" %>
  </div>

  <div class="row" style="margin-left: 20px;">
    <h3>Attachments</h3>
    <%= f.fields_for :attachments do |attachment| %>
      <%= render partial: "attachment_fields", locals: {f: attachment} %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add attachment', f, :attachments, class: "btn btn-info" %>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
