<!DOCTYPE html>
<html>
  <head>
    <title>Rumspringaresearch</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/alerts" %>
    <div class="container" id="content">
      <div class="alert alert-info fade in" role="alert">
        Attn: This site is currently in a live alpha! Any uploads here are temporary and will be deleted. <%= link_to "More Info", about_path %>
      </div>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
